composer.phar
/vendor/

# Ignore Mac DS_Store files
.DS_Store

############################################
## PHP Storm and others temporal files
############################################

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

# Laravel 5 & Lumen specific
bootstrap/cache/
#storage/
.env.*.php
.env.php
.env
.env.example